<% if user_signed_in? %>
	


<% else %> 
	<div class="hero-unit">
		<h1>Welcome!</h1>
	<p>View and share your travel photos</p>
	<p> <%= link_to "Share Photos!", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
	</div>
<% end %>
