<h1> About </h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> is a class I'm taking to create a <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> 
	site in one month. Keep checking back to see more update, and put up some test pics in the meantime! 
</p>



