<div class="hero-unit"

<h1>Welcome to Julia's Food Photo Page!</h1>
<p>You've found the home page for Julia</p>
<p>
	

	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>

